[Unit]
Description=yolov3_spp

[Service]
ExecStart=/usr/bin/python3 /home/coder/yolov3/yolov3_spp.py


apt-get install systemctl
systemctl start yolo.service



systemctl start test.service 启动服务
systemctl stop test.service 停止服务
systemctl status test.service 查看服务状态
systemctl reload test.service 重新加载服务
systemctl daemon-load 重新加载后台服务


systemctl list-units --type=service： 列出正在运行的服务


切换到这个路径

cd /lib/systemd/system

如果不行用这个

cd /usr/lib/systemd/system